@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Vibes&display=swap');
 
 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }

 body{
  font-family: 'Roboto' , 'sans-serif';
  overflow-x: hidden;
  overflow-y:hidden ;
 }
 
 .container{
    margin: 0 7rem;
    height: 100%;
 }

 a{
    text-decoration: none;
 }

 ul{
    list-style: none;
 }

 #home{
  height: 100vh;
  background: #0162be;
  color: #fff;
 }

 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
 }

 nav .logo{
  width: 50px;
 }
 
 nav ul{
    display: flex;
    align-items: center;
 }
  
 nav ul a{
    color: #fff;
    padding: 20px;
 }

 #home .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70%;
 }

 #home .content .social{
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: animation1 1s ease-out;
 }

 .social i{
    margin-left: 3em;
    color: #fff;
    font-size: 25px;
 }

 #home .content img{
    width: 220px;
    animation: animation1 1s ease-out;
 }

 #home .content .content-text h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
 }

 #home .content .content-text h1 span{
    font-size: 70px;
 }

 #home .content .content-text p{
    font-weight: 300;
    margin-bottom: 30px;
    line-height: 1.4;
    width: 70%;
 }

 .btn{
    font-size: 14px;
    padding: 10px 15px;
    background-color: #fff;
    color: black;
    border-radius: 30px;
    transition: all 0.2s;
 }

 .btn:hover{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
 }
 
 .pepsi-types{
    display: block;
    width: 100px;
    margin: auto;
    animation: animation2 1s ease-out;
 }


 @keyframes animation1 {
    0% {
        transform: translateX(500px);
    }

    100% {
        transform: translateX(0);
    }
 }

 @keyframes animation2 {
    0% {
        transform: translatey(200px);
    }

    100% {
        transform: translatey(0);
    }
 }